In [1]:
import pandas as pd
import re
import json
import os
import numpy as np

In [2]:
ANEK_PATH = '../data/anek_utf8.txt'

PREPARE_ANEK_TXT = False
PREPARE_ANEK_COUCHDB = True

In [3]:
aneks = list()
with open(ANEK_PATH, 'r') as file:
    for i, line in enumerate(file.read().splitlines()):
        if line.startswith('<|startoftext|>'):
            aneks.append(re.sub(r'\<\|startoftext\|\>', '', line, 1))

In [4]:
if PREPARE_ANEK_TXT:
    with open(ANEK_PATH, 'r') as readable, open('../data/anek_prepared.txt', 'w') as writeable:
        aneks_tmp = list()
        for i, line in enumerate(readable.readlines()):
            if line.startswith('<|startoftext|>'):
                aneks_tmp.append(re.sub(r'\<\|startoftext\|\>', '', line, 1))
        writeable.writelines(aneks_tmp)

In [93]:
if PREPARE_ANEK_COUCHDB:
    if not os.path.exists('../data/couchdb/'):
        os.mkdir('../data/couchdb/')
    template = {
        '_id': '',
        'text': '',
        'voted': {}
    }
    for i, text in enumerate(aneks):
        with open(f'../data/couchdb/anek_{i}.json', 'w', encoding='utf8') as file:
            template['_id'] = f'anek_{i}'
            template['text'] = text
            json.dump(template, file, indent=4, ensure_ascii=False)

In [84]:
df = pd.DataFrame({'text': aneks})

In [85]:
df.head(5)

                                                text
0  Сразу после окончания Прямой линии, Путин пожа...
1  Это Аркадий. Аркадий попал в армию через посте...
2  Толкучка в атобусе. Автобус резко тормозит и ж...
3  Интересно, гадалка уже догадалась, что я еду к...
4  Идет одна бабка, на встречу другой и видит, чт...

In [87]:
df.tail(5)

                                                     text
121647  Последним раскрытым громким преступлением в Ки...
121648  Если бесконечное количество российских футболи...
121649  На чемпионат мира по футболу от России нужно Ю...
121650  В целях профилактики от всего весной следует е...
121651  На моих глазах как-то две девушки затаскивали ...

In [92]:
np.all(df.text.apply(lambda x: len(x) > 0).to_numpy())

True